html {
	--radio-gap: 4px;
	--radio-width: calc(var(--input-label-font-size) - 0.1em);
	--radio-height: calc(var(--input-label-font-size) - 0.575em);
	--radio-width-inner: calc(var(--radio-width) - var(--radio-gap));
	--radio-height-inner: calc(var(--radio-height) - var(--radio-gap));
	--check-side: calc(calc(var(--radio-height) + var(--radio-width))/2);
	--check-side-inner: calc(var(--check-side) - var(--radio-gap));
}

.click_item {
	display: grid;
	grid-template-columns: 1em auto;
	place-content: left;
	gap: 0.5em;
	margin-left: 0.75rem;
}

.click_item > label {
	grid-column: 2;
	grid-row: 1;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	place-content: center;
	appearance: none;
	padding: 0;
	margin: 0;
	margin-top: 0.27rem;
	border-radius: 6px;
	width: var(--radio-width);
	height: var(--radio-height);
}

input[type="radio"]::before {
	content: "";
	margin: 0;
	padding: 0;

	/* make width & height pixel relative 
	 * to input[type="radio"] */
	width: var(--radio-width-inner);
	height: var(--radio-height-inner);
	border-radius: 4px;
	transform: scale(0);
	transition: 15ms transform linear;
}

input[type="radio"]:checked::before {
	transform: scale(1);
	border-radius: 4px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	display: grid;
	place-content: center;
	appearance: none;
	padding: 0;
	margin: 0;
	margin-top: 0.27rem;
	border-radius: 1px;
	width: var(--check-side);
	height: var(--check-side);
}

input[type="checkbox"]::before {
	content: "";
	margin: 0;
	padding: 0;

	/* make width & height pixel relative 
	 * to input[type="checkbox"] */
	width: var(--check-side-inner);
	height: var(--check-side-inner);
	border-radius: 1px;
	transform: scale(0);
	transition: 15ms transform linear;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
	border-radius: 1px;
	border-color: rgb(var(--font-rosewood-rgb));
}
