html {
	--font-rosewood-rgb: 109, 6, 15;
	--font-main-rgb: 0, 0, 0;
	--section-separator-transparency: 0.5;
	--root-bg-rgb: 250, 250, 250;
	--input-bg-rgb: 250, 250, 250;
	--section-border-rgb: 13, 40, 109;
}

html {
	background-color: rgba(var(--root-bg-rgb), 1);
}

h1 {
	color: rgba(var(--font-rosewood-rgb), 1);
}

h2 {
	border-color: rgb(var(--section-border-rgb));
}

legend, label, span, h2, h3, h4, h5 {
	color: rgba(var(--font-main-rgb));
}

input, select, textarea {
	color: rgba(var(--font-rosewood-rgb), 1.0);
	border-color: rgba(var(--font-main-rgb), 1.0);
	background-color: rgba(var(--input-bg-rgb), 1.0);
}

input[type="checkbox"]::before,
input[type="radio"]::before {
	background-color: rgb(var(--font-rosewood-rgb));
}

button[type="submit"] {
	background-color: rgba(var(--section-border-rgb), 1.0);
	border-color: rgba(var(--font-rosewood-rgb), 0.1);
	box-shadow: 1px 1px 1px rgba(var(--font-rosewood-rgb), 0.60);
	color: rgb(var(--font-rosewood-rgb));
	color: rgb(var(--section-border-rgb));
	color: rgba(var(--root-bg-rgb));
}

button[type="submit"]:hover {
	background-color: rgba(var(--section-border-rgb), 0.98);
	border-color: rgba(var(--font-rosewood-rgb), 0.1);
	box-shadow: 2px 2px 1px rgba(var(--font-rosewood-rgb), 0.40);
}
