html {
	--title-font-size: 2.1666666666666665em;
	--section-label-font-size: 1.6666666666666665em;
	--subsection-label-font-size: 1.4em;
	--input-label-font-size: 1.2em;
	--input-text-font-size: 1.0em;
	--bold: 700;
	--medium-bold: 600;
	--normal: 400;
}

legend, div > label, span, h1, h2, p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal
}

input, button, select, textarea, ul > label {
	font-family: 'Roboto', sans-serif;
	font-style: normal
}

h1 {
	font-weight: var(--bold);
	font-size: var(--title-font-size);
}

.company_name {
	font-weight: var(--normal);
	font-size: var(--section-label-font-size);
}

h2 {
	font-weight: var(--bold);
	font-size: var(--section-label-font-size);
	margin-bottom: 1rem;
}

div > label, fieldset > legend {
	font-weight: var(--medium-bold);
	font-size: var(--input-label-font-size);
}

input, select, textarea, ul label, legend {
	font-weight: var(--normal);
	font-size: var(--input-label-font-size);
}

input, textarea {
	font-size: var(--input-text-font-size);
}

input[type="radio"] {
	font: inherit;
}

button[type="submit"] {
	font-size: 1.5rem;
}
