span, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

label {
	font-family: 'Roboto', sans-serif;
}

span, label {
	font-weight: 400;
	font-size: 14pt;
}

h1 {
	font-weight: 700;
	font-size: 26pt;
}

h2 {
	font-weight: 400;
	font-size: 20pt;
}
