legend, div > label, span, h1, h2, h3, p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal
}

input, select, textarea, ul > label {
	font-family: 'Roboto', sans-serif;
	font-style: normal
}

h1 {
	font-weight: 700;
	font-size: 2.1666666666666665em;
}

.company_name {
	font-weight: 400;
	font-size: 1.6666666666666665em;
}

h2 {
	font-weight: 700;
	font-size: 1.6666666666666665em;
}

h3 {
	font-weight: 600;
	font-size: 1.4em;
}

div > label, fieldset > legend {
	font-weight: 600;
	font-size: 1.2em;
}

input, select, textarea, ul label, legend {
	font-weight: 400;
	font-size: 1.0em;
}

/*div label {
	font-weight: 400;
	font-size: 0.7777777777777778em;
}*/

input, textarea {
	font-size: 1.0em;
}

input[type="radio"] {
	font: inherit;
}
