*,
*::before,
*::after {
	box-sizing: border-box;
}

.header_flair > span {
	display: block;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

body {
	padding: 0;
	margin: 1rem;
	border: 0px solid brown;
	border-radius: 3px;
}

h1, h2, h3, fieldset, legend, label, ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, {
	margin: 15pt 0 0 0;
}

form {
	border: 0px solid brown;
	border-radius: 3px;
}

.input_group {
	margin-top: 0.5em;
}

input, textarea {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

label {
	display: block;
}

label.radio_item {
	display: grid;
	grid-template-columns: 1em auto;
	place-content: left;
	gap: 1rem;
	margin-left: 0.75rem;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	display: grid;
	place-content: center;
	appearance: none;
	padding: 0;
	margin: 0;
	margin-top: 0.27rem;
	width: 1.5rem;
	height: 0.725rem;
}

input[type="radio"]::before {
	content: "";
	margin: 0;
	padding: 0;

	/* make width & height pixel relative 
	 * to input[type="radio"] */
	width: calc(1.5em - 8px);
	height: calc(0.725rem - 4px);
	border-radius: 2px;
	transform: scale(0);
	transition: 15ms transform linear;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea {
	margin: 0;
	box-sizing: content-box;
	border-width: 1px;
	padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
	margin: -1px;
	box-sizing: content-box;
	border-width: 2px;
	outline: none;
}

fieldset {
	border: none;
}
