*,
*::before,
*::after {
	box-sizing: border-box;
}

.header_flair > span {
	display: block;
}

body {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 6rem 2.5rem;
	border: 0px solid brown;
	border-radius: 3px;
}

h1, h2, h3, fieldset, legend, label, ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, {
	margin: 1rem 0 0 0;
}

h2 {
	border-style: solid;
	border-width: 0 0 2px 0;
	margin-top: 2.25rem;
	margin-bottom: 1.00rem;
}

form {
	border: 0px solid brown;
	border-radius: 3px;
}

fieldset {
	border: none;
}

input, textarea {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

label {
	display: block;
}

.input_group {
	margin: 1.0rem 0 0.25rem 0;
	width: 100%;
}

.currency {
	position: relative;
}

.currency > span {
	position: absolute;
	top: 0.35rem;
	left: -0.8rem;
}

.other {
	white-space: nowrap;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea {
	margin: 0;
	box-sizing: border-box;
	border-width: 1px;
	padding: 0.5rem 0.75rem 0.25rem 0.75rem;
	width: 100%;
}

textarea {
	height: 20rem;
	resize: vertical;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
	#margin: -1px;
	box-sizing: border-box;
	border-width: 1px;
	outline: none;
}

.submit {
	padding: 0 4.00rem;
	width: 100%;
}

button[type="submit"] {
	width: 100%;
	height: auto;
	padding: 0.65rem 0 0.5rem 0;
	border-width: 1px;
	border-radius: 4px;
}

.other input {
	width: auto;
}

