*,
*::before,
*::after {
	box-sizing: border-box;
}

.header_flair > span {
	display: block;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 15pt 0 10pt 0;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

body > div {
	padding: 0;
	margin: 0;
	max-width: 80%;
}

input, textarea {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

label.radio_item {
	display: grid;
	grid-template-columns: 1em auto;
	place-content: left;
	gap: 1rem;
	margin-left: 0.75rem;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	display: grid;
	place-content: center;
	appearance: none;
	padding: 0;
	margin: 0;
	margin-top: 0.27rem;
	width: 1.5rem;
	height: 0.725rem;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

input[type="radio"]::before {
	content: "";
	margin: 0;
	padding: 0;

	/* make width & height pixel relative 
	 * to input[type="radio"] */
	width: calc(1.5em - 8px);
	height: calc(0.725rem - 4px);
	border-radius: 2px;
	transform: scale(0);
	transition: 15ms transform linear;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}
