label.radio_item {
	display: grid;
	grid-template-columns: 1em auto;
	place-content: left;
	gap: 0.5em;
	margin-left: 0.75rem;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	display: grid;
	place-content: center;
	appearance: none;
	padding: 0;
	margin: 0;
	margin-top: 0.27rem;
	border-radius: 6px;
	width: var(--radio-width);
	height: var(--radio-height);
}

input[type="radio"]::before {
	content: "";
	margin: 0;
	padding: 0;

	/* make width & height pixel relative 
	 * to input[type="radio"] */
	width: var(--radio-width-inner);
	height: var(--radio-height-inner);
	border-radius: 4px;
	transform: scale(0);
	transition: 15ms transform linear;
}

input[type="radio"]:checked::before {
	transform: scale(1);
	border-radius: 4px;
}
